

<h1>Taco Builder</h1>

<h3>Enter in a taco that you would like to eat.</h3>
<div id="tacopic">
	<img src="assets/taco.jpeg" alt="taco" style="width:304px;height:228px;">
</div>
{{!-- list of new tacos works like a foreach loop.  Each loop goes through array that is send over from api routes --}}
<ul>
  {{#each tacos}}
  	<li>
  	   
       <p>{{name}}</p>
			 <p>MMM... SO Yummy!	</p>
			 <img src="assets/tacobelldog.jpg" alt="taco" style="width:304px;height:228px;">
			 {{!-- Taking index id and name of taco to send through the form --}}
		<form action="/api/eattaco" method="post">
             <input type="hidden" name="name" value="{{name}}">
             <input type="hidden" name="tacoid" value="{{@index}}">
                 <button type="submit" id="donebt">Eat the taco!</button>
								 </form>

			{{!-- This is the right array after taco button loop					  --}}
  	</li>
  {{/each}}
</ul>
<h3>TACOS EATEN</h3>
<ul>
  {{#each tacosmain}}
  	<li>
  	   
       <p>{{name}}</p>
			 
			 
  	</li>
  {{/each}}
</ul>

{{!-- This is the button to add a new taco --}}
<p>Type in your choice of taco below:</p>
<form>
	<input type="text" id="name">
	<button type="submit" id="submit">Submit</button>
</form>
