<h1>Taco Builder</h1>

<h3>Enter in a taco that you would like to eat.</h3>
<div id="tacopic">
	<img src="assets/taco.jpeg" alt="Mountain View" style="width:304px;height:228px;">
</div>

<ul>
  {{#each tacos}}
  	<li>
  	   
       <p>{{name}}</p>
			 <form method="post" action="/api/eattaco"> 
			 
			 <button type="button" id="donebtn" tacoid="{{@index}}">Eat the taco!!!</button>
			</form>
  	</li>
  {{/each}}
</ul>
<h1>TACOS EATEN</h1>
<ul>
  {{#each tacosmain}}
  	<li>
  	   
       <p>{{name}}</p>
			 
  	</li>
  {{/each}}
</ul>

<form>
	<input type="text" id="name">
	<button type="submit" id="submit">Submit</button>
</form>
