
<h1>Taco Builder</h1>

<h3>Enter in a taco that you would like to eat.</h3>
<div id="tacopic">
	<img src="assets/taco.jpeg" alt="Mountain View" style="width:304px;height:228px;">
</div>

<ul>
  {{#each tacos}}
  	<li>
  	   
       <p>{{name}}</p>
			 {{!-- Taking index id and name of taco to send through the form --}}
		<form action="/api/eattaco" method="post">
             <input type="hidden" name="name" value="{{name}}">
             <input type="hidden" name="tacoid" value="{{@index}}">
                 <button type="submit" id="donebt">Eat the taco!</button>
								 </form>
  	</li>
  {{/each}}
</ul>
<h1>TACOS EATEN</h1>
<ul>
  {{#each tacosmain}}
  	<li>
  	   
       <p>{{name}}</p>
			 
  	</li>
  {{/each}}
</ul>

<form>
	<input type="text" id="name">
	<button type="submit" id="submit">Submit</button>
</form>
